[submodule ".registry"]
	path = .registry
	url = https://github.com/eitsupi/eitsupi.r-universe.dev
	branch = HEAD
[submodule "arrow"]
	path = arrow
	url = https://github.com/apache/arrow
	branch = apache-arrow-19.0.1
	subdir = r
[submodule "glaredb"]
	path = glaredb
	url = https://github.com/eitsupi/r-glaredb
	branch = v0.0.4
[submodule "neopolars"]
	path = neopolars
	url = https://github.com/eitsupi/neo-r-polars
[submodule "rbootstraptest"]
	path = rbootstraptest
	url = https://github.com/eitsupi/rbootstraptest
