[submodule ".registry"]
	path = .registry
	url = https://github.com/eitsupi/eitsupi.r-universe.dev
	branch = HEAD
[submodule "glaredb"]
	path = glaredb
	url = https://github.com/eitsupi/r-glaredb
	branch = *release
[submodule "prqlr"]
	path = prqlr
	url = https://github.com/eitsupi/prqlr
